turi/5.model
turi/*.pptx
glove/*.bin
adv-inf/activity_net
adv-inf/densevid_eval/coco-caption/pycocoevalcap/meteor/data/*
glove/corpus.txt
glove/vectors.txt
parser-nltk/vectors.txt
parser-nltk/parsed_np.json
**.idea
