adv-inf-master/save1/*
adv-inf-org/save1/*
adv-inf-org/save_cont/*
adv-inf-master/save*
adv-inf-org/save*
turi/5.model
turi/*.pptx
turi/midframeextractor/mid/*
turi/reference_data_all.model/*
turi/conceptualcaptions_0_2.sframe/*
turi/env2/*
glove/*.bin
adv-inf/activity_net
adv-inf/densevid_eval/coco-caption/pycocoevalcap/meteor/data/*
adv-inf/ConCap/*
adv-inf/save/*
adv-inf/slurm*
adv-inf-master/activity_net
adv-inf-master/densevid_eval/coco-caption/pycocoevalcap/meteor/data/*
adv-inf-master/ConCap/*
adv-inf-master/save/*
adv-inf-master/slurm*
adv-inf-org/activity_net
adv-inf-org/densevid_eval/coco-caption/pycocoevalcap/meteor/data/*
adv-inf-org/ConCap/*
adv-inf-org/save/*
adv-inf-org/slurm*
glove/corpus.txt
glove/vectors.txt
parser-nltk/vectors.txt
parser-nltk/parsed_np_vp.json
parser-nltk/gloves/*
parser-nltk/*.pkl
parser-nltk/numpys/*
parser-nltk/sorted_10closest_parsed_n_v.json
parser-nltk/concurrence_n_v_10closest.json
parser-nltk/caption_np_vp_pairs.json
parser-nltk/sorted_10closest_parsed_np_vp.json
parser-nltk/sorted_10closest_updated_query_mid.json
wmd_v2/sorted_10closest_updated_query_mid.json
wmd_v2/inputs/*
adv-inf-master/save_batchsize16_e30
adv-inf-master/save_closest10
adv-inf-master/save_closest10_encodesize10
adv-inf-master/save_closest10_encodesize10_batchsize48
adv-inf-master/slurm-*
adv-inf-org/slurm-*
adv-inf/slurm-*

adv-inf-master/save*/slurm-*
adv-inf-master/save*/slurm-*
adv-inf-master/save*/slurm-*

bert/sample.h5
**.idea
.DS_Store
