adv-inf_old/activity_net
adv-inf_old/densevid_eval/coco-caption/pycocoevalcap/meteor/data/*
adv-inf_old/ConCap/*
adv-inf_old/save/*
adv-inf_old/slurm*

adv_inf_master_v2/save_aux_gt_10epoch/*
adv_inf_master_v2/save_gt_10epoch/*
adv-inf-master/save1/*
adv-inf-master/save*
adv-inf-master/activity_net
adv-inf-master/densevid_eval/coco-caption/pycocoevalcap/meteor/data/*
adv-inf-master/ConCap/*
adv-inf-master/save/*
adv-inf-master/slurm*
adv-inf-master/save_batchsize16_e30
adv-inf-master/save_closest10
adv-inf-master/save_closest10_encodesize10
adv-inf-master/save_closest10_encodesize10_batchsize48
adv-inf-master/slurm-*
adv-inf-master/save*/slurm-*

adv-inf-org/save*
adv-inf-org/save1/*
adv-inf-org/save_cont/*
adv-inf-org/activity_net
adv-inf-org/densevid_eval/coco-caption/pycocoevalcap/meteor/data/*
adv-inf-org/ConCap/*
adv-inf-org/save/*
adv-inf-org/slurm*
adv-inf-org/slurm-*

turi/5.model
turi/*.pptx
turi/midframeextractor/mid/*
turi/reference_data_all.model/*
turi/conceptualcaptions_0_2.sframe/*
turi/env2/*

glove/*.bin
glove/corpus.txt
glove/vectors.txt

parser-nltk/vectors.txt
parser-nltk/parsed_np_vp.json
parser-nltk/gloves/*
parser-nltk/*.pkl
parser-nltk/numpys/*
parser-nltk/sorted_10closest_parsed_n_v.json
parser-nltk/concurrence_n_v_10closest.json
parser-nltk/caption_np_vp_pairs.json
parser-nltk/sorted_10closest_parsed_np_vp.json
parser-nltk/sorted_10closest_updated_query_mid.json
parser-nltk/caption_np_vp_pairs_ix.json

wmd_v2/sorted_10closest_updated_query_mid.json
wmd_v2/inputs/*
adv_inf_master_v2/save/*
adv_inf_master_v2/save_local/*
adv_inf_master_v2/save_local_1/*
adv_inf_master_v2/save*
adv_inf_master_v2/output.log
adv_inf_master_v2/save_local_wo_gen/*
adv_inf_master_v2/output_dis.log
adv_inf_master_v2/output.log
**.idea
.DS_Store
